<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center mt-sm-5 mb-4 text-white-50">
        <div>
            <a routerLink="/" class="d-inline-block auth-logo">
                <img src="assets/images/logo-dark.png" alt="" height="60">
            </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
      <div class="card mt-4">
        <div class="card-body p-4"> 
          <div class="text-center mt-2">
              <h5 class="text-danger">Create new password</h5>
          </div>

          <div class="p-2">
            <form [formGroup]="passresetForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label class="form-label" for="password-input">Password</label>
                <input [type]="passwordField ? 'text' : 'password'" class="form-control pe-5 password-input" placeholder="Enter password" id="password-input" aria-describedby="passwordInput" required formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <span *ngIf="f['password'].errors['required']">Password is required</span>
                </div>
              </div>
              <div class="mt-4">
                  <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
              </div>
            </form>
          </div>
        </div>
          <!-- end card body -->
      </div>
      <!-- end card -->

      <div class="mt-4 text-center">
        <p class="mb-0">Wait, I remember my password... <a routerLink="/auth/login" class="fw-semibold text-primary text-decoration-underline"> Click here </a> </p>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>