<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center mt-sm-5 mb-4 text-white-50">
        <div>
          <a routerLink="" class="d-inline-block auth-logo">
            <img src="assets/images/logo-dark.png" alt="" height="60">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card mt-4">
                <div class="card-body p-4">
                    <div class="text-center mt-2">
                        <h5 class="text-danger">Forgot Password?</h5>
                    </div>
                    <div class="p-2">
                        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="mb-4">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback" align="left">
                                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                                </div>
                            </div>

                            <div class="text-center mt-4">
                                <button class="btn btn-primary btn-block" type="submit">Send Reset Link</button>
                            </div>
                        </form><!-- end form -->
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->

            <div class="mt-4 text-center">
                <p class="mb-0">Wait, I remember my password... <a routerLink="/auth/login" class="fw-semibold text-primary text-decoration-underline"> Click here </a> </p>
            </div>

        </div>
    </div>
    <!-- end row -->
</div>